<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <title>
    DETECT
   </title>
   </head>
<body>
<div class="jumbotron text-center">

  <p>upload your file</p>

  <form action="/second" method="post">
      <input type="file"  name="my_uploaded_file"/>
      <input type="submit" value="Submit" />
  </form>






  <!--<form action="/second" method="POST">
    <input type="file" name="image" accept="image/*">
    <input type="file" onchange="readURL(this);"  />
    <img id="blah" src="#" />
    <input type="submit">
  </form>-->


</div>
</body>
</html>
